// general styles
*{
	margin: 0;
	padding: 0;
	line-height: 1;
}
html{
	font-size: 62.5%;
}
body {
	font-family: $mainFont;
	background-color: $mainGrey;
}
.wrapper{
	max-width: 110rem;
	margin: 0 auto;
}
img{
	display: block;
	max-width: 100%;
}
button{
	color: $accentDark;
	background: $coolGreen;
	display: block;
	font-size: 1.8rem;
	font-weight: 700;
	text-transform: uppercase;
	min-width: 12.5rem;
	border-radius: 0.4rem;
	cursor: pointer;
	border: none;
	box-shadow: 0 2px 5px 0 $accentDark;
	padding: 1rem 0.5rem;
	&:hover, &:focus{
		background: $coolPurple;
		transition: all 0.3s;
	}
	&:active{
		background: $crazyOrange;
	}
}
ul{
	list-style: none;
}
// header styles
header{
	color: $mainGrey;
	background-color: $accentDark;
	.wrapper{
		padding: 2rem 0 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include responsive('medium'){
			flex-direction: column;
		}
	}
	img{
		width: 12.5rem;
		margin: -1rem 0 -2rem;
	}
	h1{
		font-family: $headFont;
		text-transform: uppercase;
		font-size: 5rem;
		margin-bottom: 2rem;
	}
	button{
		margin-bottom: 2rem;
	}
}
// main styles
main{
	.wrapper{
		padding: 4rem 0;
		position: relative;
	}
	i{
		color: $darkBlue;
		width: 100%;
		text-align: center;
		&::before{
			font-size: 10rem;
		}
	}
	h6{
		font-size: 3.5rem;
		text-transform: uppercase;
		color: $darkBlue;
		text-align: center;
		width: 50%;
		margin: 6rem auto 10rem;
		line-height: 1.6;
	}
}
.mainContainer{
	display: flex;
	justify-content: space-between;
	padding-bottom: 10rem;
	@include responsive('medium'){
		flex-direction: column;
	}
}
.userProfile{
	border-radius: 50%;
	width: 10rem;
	position: absolute;
	bottom: 2rem;
	left: 2rem;
	border: 0.2rem solid $crazyOrange;
	box-shadow: 0 2px 5px 0 $accentDark;
	@include responsive('medium'){
		left: 50%;
		transform: translateX(-50%);
	}
}
// form styles
.userInput{
	background: $darkBlue;
	color: $mainGrey;
	width: calc(100% / 3 * 2);
	border-radius: 0.4rem;
	margin-right: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	@include responsive('medium'){
		margin: 0 1rem 0 1rem;
		width: calc(100% - 2rem);
	}
	h2{
		font-size: 3rem;
		margin: 2rem 0;
	}
	.hours{
		display: flex;
		align-items: center;
		label{
			font-size: 4rem;
			margin-left: 1rem;
		}
	}
	input[type=number]{
		border: none;
		height: 4rem;
		font-size: 4rem;
		font-weight: 700;
		width: 10rem;
		text-align: right;
		color: $accentDark;
	}
	h4{
		font-size: 2.5rem;
		margin: 2rem 0;
	}
	.slider{
		display: flex;
		align-items: center;
		label{
			font-size: 2.5rem;
			margin: 0 1rem;
		}
	}
	input[type=range]{
		appearance: none;
		width: 20rem;
		background: transparent;
		border-radius: 0.4rem;
	}
	button{
		margin: 2rem 0;
	}
}
// results container styles
.resultsContainer{
	background: $darkBlue;
	color: $mainGrey;
	width: calc(100% / 3 * 2);
	border-radius: 0.4rem;
	margin-right: 1.5rem;
	padding: 0 2rem;
	@include responsive('medium'){
		margin: 0 1rem 0 1rem;
		width: calc(100% - 2rem);
	}
	h2{
		font-size: 3rem;
		margin: 2rem 0;
		text-align: center;
	}
	button{
		margin: 1rem;
	}
	h3{
		font-size: 2.5rem;
		text-align: center;
		margin: 2rem 0;
	}
}
.buttonContainer{
	display: flex;
	justify-content: space-around;
	margin-bottom: 2rem;
}
.movieContainer{
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-left: 0.2rem solid $coolPurple;
	border-top: 0.2rem solid $coolPurple;
	border-right: 0.2rem solid $coolPurple;
	letter-spacing: 0.1rem;
	&:last-of-type{
		border-bottom: 0.2rem solid $coolPurple;
	}
	h2{
		text-align: left;
	}
	.overlay{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
}
.overlay{
	background: linear-gradient(45deg, rgba(8,28,36,0.8), rgba(8,28,36,0.8));
}
.movieText{
	padding: 0 2rem;
	h4{
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}
	p{
		font-size: 1.2rem;
		line-height: 1.2;
	}
}
// saved container styles
.savedContainer{
	background: $darkBlue;
	color: $mainGrey;
	width: calc(100% / 3);
	border-radius: 0.4rem;
	margin-left: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 0 2rem;
	@include responsive('medium'){
		width: calc(100% - 2rem);
		margin: 2rem 1rem 0 1rem;
	}
	h3{
		font-size: 2.5rem;
		margin: 2rem 0;
	}
	button{
		margin: 2rem auto;
	}
	h4{
		font-size: 2rem;
	}
	h5{
		font-size: 1.4rem;
	}
	ul{
		@include responsive('medium'){
			width: calc(100% - 4rem);
		}
	}
}
.savedMovie{
	width: 100%;
	text-align: center;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	border-left: 0.2rem solid $coolPurple;
	border-top: 0.2rem solid $coolPurple;
	border-right: 0.2rem solid $coolPurple;
	&:last-of-type{
		border-bottom: 0.2rem solid $coolPurple;
	}
	.overlay{
		padding: 0.5rem;
	}
}
// footer styles
footer{
	color: $mainGrey;
	background: $accentDark;
	.wrapper{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0;
		@include responsive('medium'){
			flex-direction: column;
		}
	}
	h6{
		font-size: 1.4rem;
		letter-spacing: 0.1rem;
	}
	img{
		width: 5rem;
		@include responsive('medium'){
			margin: 1rem 0;
		}
	}
}