article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  line-height: 1; }

html {
  font-size: 62.5%; }

body {
  font-family: "Source Sans Pro", sans-serif;
  background-color: #f4f4f4; }

.wrapper {
  max-width: 110rem;
  margin: 0 auto; }

img {
  display: block;
  max-width: 100%; }

button {
  color: #081c24;
  background: #01d277;
  display: block;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  min-width: 12.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: none;
  box-shadow: 0 2px 5px 0 #081c24;
  padding: 1rem 0.5rem; }
  button:hover, button:focus {
    background: #805be7;
    transition: all 0.3s; }
  button:active {
    background: #FA6900; }

ul {
  list-style: none; }

header {
  color: #f4f4f4;
  background-color: #081c24; }
  header .wrapper {
    padding: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (max-width: 768px) {
      header .wrapper {
        flex-direction: column; } }
  header img {
    width: 12.5rem;
    margin: -1rem 0 -2rem; }
  header h1 {
    font-family: "Audiowide", cursive;
    text-transform: uppercase;
    font-size: 5rem;
    margin-bottom: 2rem; }
  header button {
    margin-bottom: 2rem; }

main .wrapper {
  padding: 4rem 0;
  position: relative; }

main i {
  color: #103D5D;
  width: 100%;
  text-align: center; }
  main i::before {
    font-size: 10rem; }

main h6 {
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #103D5D;
  text-align: center;
  width: 50%;
  margin: 6rem auto 10rem;
  line-height: 1.6; }

.mainContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem; }
  @media (max-width: 768px) {
    .mainContainer {
      flex-direction: column; } }

.userProfile {
  border-radius: 50%;
  width: 10rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border: 0.2rem solid #FA6900;
  box-shadow: 0 2px 5px 0 #081c24; }
  @media (max-width: 768px) {
    .userProfile {
      left: 50%;
      transform: translateX(-50%); } }

.userInput {
  background: #103D5D;
  color: #f4f4f4;
  width: calc(100% / 3 * 2);
  border-radius: 0.4rem;
  margin-right: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center; }
  @media (max-width: 768px) {
    .userInput {
      margin: 0 1rem 0 1rem;
      width: calc(100% - 2rem); } }
  .userInput h2 {
    font-size: 3rem;
    margin: 2rem 0; }
  .userInput .hours {
    display: flex;
    align-items: center; }
    .userInput .hours label {
      font-size: 4rem;
      margin-left: 1rem; }
  .userInput input[type=number] {
    border: none;
    height: 4rem;
    font-size: 4rem;
    font-weight: 700;
    width: 10rem;
    text-align: right;
    color: #081c24; }
  .userInput h4 {
    font-size: 2.5rem;
    margin: 2rem 0; }
  .userInput .slider {
    display: flex;
    align-items: center; }
    .userInput .slider label {
      font-size: 2.5rem;
      margin: 0 1rem; }
  .userInput input[type=range] {
    appearance: none;
    width: 20rem;
    background: transparent;
    border-radius: 0.4rem; }
  .userInput button {
    margin: 2rem 0; }

.resultsContainer {
  background: #103D5D;
  color: #f4f4f4;
  width: calc(100% / 3 * 2);
  border-radius: 0.4rem;
  margin-right: 1.5rem;
  padding: 0 2rem; }
  @media (max-width: 768px) {
    .resultsContainer {
      margin: 0 1rem 0 1rem;
      width: calc(100% - 2rem); } }
  .resultsContainer h2 {
    font-size: 3rem;
    margin: 2rem 0;
    text-align: center; }
  .resultsContainer button {
    margin: 1rem; }
  .resultsContainer h3 {
    font-size: 2.5rem;
    text-align: center;
    margin: 2rem 0; }

.buttonContainer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem; }

.movieContainer {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 0.2rem solid #805be7;
  border-top: 0.2rem solid #805be7;
  border-right: 0.2rem solid #805be7;
  letter-spacing: 0.1rem; }
  .movieContainer:last-of-type {
    border-bottom: 0.2rem solid #805be7; }
  .movieContainer h2 {
    text-align: left; }
  .movieContainer .overlay {
    display: flex;
    justify-content: space-between;
    align-items: center; }

.overlay {
  background: linear-gradient(45deg, rgba(8, 28, 36, 0.8), rgba(8, 28, 36, 0.8)); }

.movieText {
  padding: 0 2rem; }
  .movieText h4 {
    font-size: 1.6rem;
    margin-bottom: 1rem; }
  .movieText p {
    font-size: 1.2rem;
    line-height: 1.2; }

.savedContainer {
  background: #103D5D;
  color: #f4f4f4;
  width: calc(100% / 3);
  border-radius: 0.4rem;
  margin-left: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem; }
  @media (max-width: 768px) {
    .savedContainer {
      width: calc(100% - 2rem);
      margin: 2rem 1rem 0 1rem; } }
  .savedContainer h3 {
    font-size: 2.5rem;
    margin: 2rem 0; }
  .savedContainer button {
    margin: 2rem auto; }
  .savedContainer h4 {
    font-size: 2rem; }
  .savedContainer h5 {
    font-size: 1.4rem; }
  @media (max-width: 768px) {
    .savedContainer ul {
      width: calc(100% - 4rem); } }

.savedMovie {
  width: 100%;
  text-align: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-left: 0.2rem solid #805be7;
  border-top: 0.2rem solid #805be7;
  border-right: 0.2rem solid #805be7; }
  .savedMovie:last-of-type {
    border-bottom: 0.2rem solid #805be7; }
  .savedMovie .overlay {
    padding: 0.5rem; }

footer {
  color: #f4f4f4;
  background: #081c24; }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0; }
    @media (max-width: 768px) {
      footer .wrapper {
        flex-direction: column; } }
  footer h6 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }
  footer img {
    width: 5rem; }
    @media (max-width: 768px) {
      footer img {
        margin: 1rem 0; } }
