article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: thin dotted; }

a:active, a:hover {
  outline: 0; }

h1 {
  font-size: 2em; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: \201C \201D \2018 \2019; }

small {
  font-size: 80%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em; }

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0; }

button, input {
  line-height: normal; }

button, html input[type=button],
input[type=reset], input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body, figure {
  margin: 0; }

legend, button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

* {
  margin: 0;
  padding: 0;
  line-height: 1; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f4f4; }

.wrapper {
  max-width: 110rem;
  margin: 0 auto; }

img {
  display: block;
  max-width: 100%; }

button {
  color: #081c24;
  background: #01d277;
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  min-width: 12.5rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 0;
  box-shadow: 0 2px 5px 0 #081c24;
  padding: 1rem 0.5rem; }

header {
  color: #f4f4f4;
  background-color: #081c24; }
  header .wrapper {
    padding: 2rem 0 0;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  header img {
    width: 12.5rem;
    margin: -1rem 0 -2rem; }
  header h1 {
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 2rem; }
  header button {
    margin-bottom: 2rem; }

main .wrapper {
  padding: 4rem 0;
  position: relative; }

main i {
  color: #103D5D;
  width: 100%;
  text-align: center; }
  main i::before {
    font-size: 10rem; }

main h6 {
  font-size: 3rem;
  text-transform: uppercase;
  color: #103D5D;
  text-align: center;
  width: 50%;
  margin: 6rem auto 10rem;
  line-height: 1.6; }

.mainContainer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 10rem; }

.userProfile {
  border-radius: 50%;
  width: 10rem;
  position: absolute;
  bottom: 2rem;
  left: 2rem;
  border: 0.2rem solid #805be7;
  box-shadow: 0 2px 5px 0 #081c24; }

.userInput {
  background: #FA6900;
  width: calc(100% / 3 * 2);
  border-radius: 0.4rem;
  margin-right: 2rem; }

.resultsContainer {
  background: #FA6900;
  width: calc(100% / 3 * 2);
  border-radius: 0.4rem;
  margin-right: 2rem; }

.savedContainer {
  background: #103D5D;
  width: calc(100% / 3);
  border-radius: 0.4rem;
  margin-left: 2rem; }

footer {
  color: #f4f4f4;
  background: #081c24; }
  footer .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0; }
  footer h6 {
    font-size: 1.4rem;
    letter-spacing: 0.1rem; }
  footer img {
    width: 5rem; }
